
{% extends "raw.html" %}

{% block extra_head %}
{{ super() }}
<link rel="shortcut icon" href="{{ theme_static('img/favicon/default.png') }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ theme_static('img/favicon/57x57.png') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ theme_static('img/favicon/60x60.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ theme_static('img/favicon/72x72.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ theme_static('img/favicon/76x76.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ theme_static('img/favicon/114x114.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ theme_static('img/favicon/120x120.png') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ theme_static('img/favicon/144x144.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ theme_static('img/favicon/152x152.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ theme_static('img/favicon/180x180.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ theme_static('img/favicon/16x16.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ theme_static('img/favicon/32x32.png') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ theme_static('img/favicon/96x96.png') }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ theme_static('img/favicon/192x192.png') }}">
<link rel="icon" type="image/png" sizes="194x194" href="{{ theme_static('img/favicon/194x194.png') }}">
<link rel="mask-icon" href="{{ theme_static('img/favicon/safari-pinned-tab.svg') }}" color="{{ current_theme.info['safari-pinned-color'] }}">
<meta name="msapplication-TileImage" content="{{ theme_static('img/favicon/144x144.png') }}">
<meta name="msapplication-TileColor" content="{{ current_theme.info.color }}">
<meta name="theme-color" content="{{ current_theme.info.color }}">
{% endblock %}


{% block extra_js %}
{{ super() }}
{% if config.GOUVLU_GOVBAR %}
<script src="//cdn.public.lu/skizz/govbar/2-2-0/govbar.js" data-govbar="{ }"></script>
<script>govbar();</script>
{% endif %}
{% endblock %}
