@import "~bootstrap/less/variables.less";

/*
 * Overrides some bootstrap variables used by bootstrap mixins
 */

@brand-primary:             #b92a23;
@body-bg:                   #fbfbfb;
@font-family-sans-serif:    titillium, sans-serif;
@font-family-serif:         @font-family-sans-serif;
@font-family-base:          @font-family-sans-serif;
@border-radius-base:        0;
@link-hover-decoration:     none;
@btn-border-radius-base:    4px;
@btn-border-radius-large:   6px;
@btn-border-radius-small:   3px;
