{% extends theme("base.html") %}

{% set meta = {
    'title': _('Luxembourg\'s Open Data Roadmap'),
    'description': "",
    'keywords': [
        _('road map'),
    ],
} %}

{% block content %}
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 markdown">
        <h1>Luxembourg&rsquo;s Open Data 5 year roadmap</h1>
        <h2>Introduction</h2>
        <p>In the scope of Luxembourg’s Open Data Strategy this operational road map highlights the scheduled work targets for
        the next 5 years. The indicated data release years depend on the individual data holders’ technical and organisational
        progress rates and this road map will be revised annually based on targets achieved.</p>
        <h2>Targets for 2018</h2>
        <ul>
          <li>Portal & technology: Major update of the national open data portal, keep ddup with the French udata project.</li>
          <li>Sensibilisation: Establish contact with entire government, and create lists of potential data sets existing at ministry level.</li>
          <li>Data: Data themes to focus on to increase the quantity of opened data.</li>
          <li>Integration of INSPIRE Annex I and II data webservices:</li>
          <ul>
            <li>Transport data</li>
            <li>Geographical data</li>
            <li>Data about social security</li>
            <li>Labour data</li>
          </ul>
          <li>Hackathons & events :</li>
          <ul>
            <li>Themes: sustainability, transport, housing, legal data, audiovisual data.</li>
            <li>Information events for decision makers and training courses for public sector employees.</li>
          </ul>
          <li>Element of Open Government Action plan</li>
          <li>Develop and Approve strategic 5 year road map</li>
        </ul>
        <h2>2019</h2>
        <ul>
          <li>Portal & technology: New custom functions for the open data portal</li>
          <li>Sensibilisation: Establish contact with new government and new ministers, and create lists of potential data sets existing at governmental level, contact with parliament</li>
          <li>Strategy: Link the Open Data project to the Freedom of Information Act project (projet de loi 6810)</li>
          <li>Data: themes to focus on to increase the quantity of opened data...
            <ul>
              <li>Environmental data (air quality, flooding, meteorology)</li>
              <li>Finance data, banking sector</li>
              <li>Energy and telecommunication data</li>
              <li>Health data</li>
              <li>3D terrain LIDAR data</li>
              <li>Land use data</li>
            </ul>
          </li>
          <li>Hackathons & events:
            <ul>
              <li>legal data,</li>
              <li>housing,</li>
              <li>training courses for public sector employees</li>
            </ul>
          </li>
          <li>Support and promotion of dedicated tourist rambling app, based on available data</li>
          <li>Information events for decision makers and training courses for public sector employees</li>
          <li>Approval of road map and strategy by new government in place &hellip;.</li>
        </ul>
        <h2>2020 and following years</h2>
        <ul>
          <li>Portal &amp; technology : General major update of the national Open Data Portal</li>
          <li>Strategy: Link the Open Data project to Accessibility Project of Public Sector web content, and to the Freedom of Information Act project</li>
          <li>Data: Add new data from other domains - themes to focus on
            <ul>
              <li>Tourism data</li>
              <li>INSPIRE Annex III geodatasets</li>
              <li>Cadaster and topography vector geodata</li>
              <li>Hydroclimatology data</li>
              <li>Agricultural data</li>
              <li>Soil &amp; geology data</li>
              <li>Science data &ndash; collaboration with science world, university, Luxembourg Institute for Science and Technology LIST, open science program</li>
              <li>Municipality data</li>
              <li>Economy data</li>
              <li>Legal data</li>
              <li>Gender equality data</li>
              <li>Culture and events</li>
              <li>Municipality data</li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>Increase the quality of the proposed open data sets &ndash; towards a greater portion of 3*,4*,5* resources</li>
          <li>Work on metadata quality</li>
          <li>Hackathons &amp; events</li>
          <li>Yearly update of road map to account for 5 year time frame.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
