{% extends theme("base.html") %}

{% set meta = {
    'title': _('Luxembourg\'s Open Data Strategy'),
    'description': "",
    'keywords': [
        _('strategy'),
    ],
} %}

{% block content %}
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 markdown">
                <h1>Luxembourg&rsquo;s Open Data Strategy</h1>
                <h2>Introduction</h2>
                <p>In a general effort to strengthen democracy and head towards an open society willing to trust its institutions,
                    Luxembourg&rsquo;s Government envisages a policy of augmented openness and transparency. The first step of
                    this perspective has been the promotion and development of a truly digital society, a main objective of the
                    national Digital Luxembourg initiative. This will also enable the Grand-Duchy to thrive as a European hub
                    of digital skills and related economic activities. In this context, open data has been identified as a key
                    factor, not only for government, but also for businesses and the entire civil society.</p>
                <p>The present strategy covers Luxembourg&rsquo;s national program towards implementation of its open data principle.
                    A more detailed list of measures is reflected in the national open data roadmap.</p>
                <h2>Key elements</h2>
                <h3>Public sector information PSI</h3>
                <p>Luxembourg&rsquo;s public sector bodies have long been creating, harvesting, managing and using a great variety
                    of data, information and documents. Aside from its primary use this material has been created for, in the
                    scope of Luxembourg&rsquo;s open data strategy it should be opened for new uses and reuses, combinations,
                    corrections and enhancements. For this reason, except if prohibited by legislation, this data has to be announced,
                    properly described, published and thus made discoverable to become available for any further reuse.</p>
                <p>Public sector information is meant to provide the basis of the open data infrastructure, and the starting point
                    for a widening of the open data infrastructure to the private sector. If not stated otherwise nor in contradiction
                    with existing legislation, data produced or held by public sector bodies are to be considered as &ldquo;open
                    by default&rdquo;. Data resulting from procurement contracts for public sector bodies should be defined as
                    open by default and made available as such on the open data platform.</p>
                <h3>Metadata</h3>
                <p>An important factor in the open data project is the availability of complete and normalised metadata. The exact
                    description of the whereabouts of each dataset, its qualities, precisions, update schemes, up-to-dateness,
                    licenses, online resources and tags are the basis of their usability in the open data ecosystem. In order
                    to allow a theme-based data search, all datasets have to be linked to one or more of the official data themes,
                    and the theme&rsquo;s standard tags need to be assigned to each data set to guarantee the dataset&rsquo;s
                    harvesting by other national and international data platforms, i.a. the European data portal.</p>
                <h3>Licences</h3>
                <p>Open data needs to rely on a clear and recognized license scheme in order to be reused, thus all datasets shall
                    mention the allocated license. Although there is no obligation to adopt a particular license, Luxembourg&rsquo;s
                    government strongly advocates the use of the Creative Commons licenses, and in particular the Creative Commons
                    Zero (CC0 &ndash; public domain).</p>
                <h3>Infrastructure : Central platform &ndash; decentralised data</h3>
                <p>Datasets are to be made available online by the data producers, either at their own websites or at the national
                    open data portal
                    <a href="http://data.public.lu">http://data.public.lu</a>, where all existing data should be registered. Links and APIs are to be used to
                    avoid double storage of data and versioning differences and to permit access to live data.</p>
                <p>The open data portal features a powerful search engine that helps users find data by theme, title, producer and
                    tags. The platform&rsquo;s interaction functions give room for feedbacks to the data producers and portal
                    operators, as well as an information exchange about the data. The portal&rsquo;s monitoring system will cover
                    the need of statistical information at national level.</p>
                <h3>Searchability</h3>
                <p>The quality and precision of the tags assigned to the data sets, as well as of the titles of datasets and resources
                    allow for a focused search by users looking for appropriate data for their projects. Coordinated collaboration
                    with other national data initiatives as well as European and international data portals make sure Luxembourg&rsquo;s
                    data is visible and usable in a wider context and may lead to added value contributions.</p>
                <h3>Anonymisation</h3>
                <p>The need of data opening is to be assessed in respect of the principle of data protection. Although some datasets
                    in their complete form may contain information that prevents them from a general publication in appliance
                    of existing legislation, efforts should be undertaken to transform and simplify the data, in order to obtain
                    a sufficient degree of anonymisation, and to allow the publication of the data&rsquo;s essential information
                    as open data.</p>
                <h3>Sensibilisation</h3>
                <p>Government&rsquo;s information and press service (Service information et presse &ndash; SIP) has been granted
                    the strategic responsibility of the open data dossier as well as of the access to information policy. A general
                    sensibilisation and information strategy aims at involving top decision makers of all State departments and
                    services. Next to this systematic approach, bottom-up initiatives on the field with directly concerned key
                    actors will lead to concrete data discovery, preparation, description and publication, helping with a continuous
                    flow of new information on the central portal.</p>
                <p>Popular communication platforms and methods will be used to keep in touch with producers and the user community.</p>
                <p>Regular events around specific data themes are organized to draw attention to the corresponding datasets and
                    to promote their reuse.</p>
                <h3>Reuses</h3>
                <p>Built upon open data, reuses are meant to leverage a new digital data ecosystem providing straightforward added
                    value for data producers as well as long term economic return. An important point of the strategy implies
                    the promotion of emerging businesses specialized in data handling and data science.</p>
                <h3>Evaluation of progress</h3>
                <p>A set of criteria will be retained to track the Grand-Duchy&rsquo;s progress in the field of open data.</p>
                <h2>Outlook</h2>
                <p>An ever accelerating multiplication of data, a corresponding modern legislative context adapted to enhance the
                    access to and the reuse of information, as well as a newly emerging data-driven ecosystem will sustain Luxembourg&rsquo;s
                    migration to a truly digital society, and contribute to a better performance of the public institutions,
                    a thriving economy and a lively democracy.</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}