<!doctype html>
<!--[if IE 7]><html dir="ltr" lang="{{ g.lang_code|default(config.DEFAULT_LANGUAGE)|string }}" class="no-js ie ie7 ie-lt8 ie-lt9"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="{{ g.lang_code|default(config.DEFAULT_LANGUAGE)|string }}" class="no-js ie ie8 ie-lt9"><![endif]-->
<!--[if gte IE 9]><html dir="ltr" lang="{{ g.lang_code|default(config.DEFAULT_LANGUAGE)|string }}" class="no-js ie"><![endif]-->
<!--[if !IE]><!--><html class="no-js" dir="ltr" lang="{{ g.lang_code|default(config.DEFAULT_LANGUAGE)|string }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <script>!function(e){var a=e.style;e.className="js"+(void 0==a.flexWrap&&void 0==a.WebkitFlexWrap&&void 0==a.msFlexWrap?" no-flexwrap":"");}(document.documentElement);</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block raw_head %}
    {% from theme('macros/metadata.html') import metadata with context %}
    {{ metadata(meta or {}) }}
    {% include theme('macros/favicon.html') %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ static('site.css') }}" rel="stylesheet">
    <link href="{{ theme_static('theme.css') }}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    {# ATOM Feeds #}
    <link href="{{ url_for('datasets.recent_feed') }}"
        rel="alternate" type="application/atom+xml"
        title="{{ _('Recent datasets') }}" />

    <link href="{{ url_for('reuses.recent_feed') }}"
        rel="alternate" type="application/atom+xml"
        title="{{ _('Recent reuses') }}" />

    {% block extra_head %}{% endblock %}

    {% endblock raw_head %}

    <!--[if gte IE 9]><!-->
    <link rel="stylesheet" href="{{ theme_static('ctie/skizz/main.css') }}"/>
    <!--<![endif]-->
    <!--[if lt IE 9]>
<link rel="stylesheet" href="{{ theme_static('ctie/skizz/ie.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>

  <body class="{{body_class}} theme-{{current_theme.variant}}">
    <div class="skiplinks">
        <a href="#topnav">{{ _('Jump to navigation') }}</a>
        <a href="#main">{{ _('Jump to content') }}</a>
    </div>
    <div id="govbar" class="govbar adbar">
        <a href="https://gouvernement.lu" target="_blank" class="govbar-logo" lang="fr" title="Gouvernement du Grand-Duché de Luxembourg (nouvelle fenêtre)">
            <img src="https://cdn.public.lu/pictures/logos/gov/gov-light.png"
            srcset="https://cdn.public.lu/pictures/logos/gov/gov-light-hdpi.png 1.5x,
            https://cdn.public.lu/pictures/logos/gov/gov-light-xhdpi.png 2x,
            https://cdn.public.lu/pictures/logos/gov/gov-light-xxhdpi.png 3x"
            alt="Gouvernement du Grand-Duché de Luxembourg">
        </a>
    </div>
    <div class="page page--standard-language-root ">
         {% include theme('iconset.html') %}


    {% block body %}{% endblock %}
    </div>

    <script src="{{ static('common.js') }}"></script>
    <script src="{{ static('site.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js" data-main="{{ theme_static('ctie/main.js') }}"></script>
    {% block extra_js %}{% endblock %}

    {% for snippet in footer_snippets %}
    {{ snippet()|safe }}
    {% endfor %}


  </body>
</html>
