{% macro reuses_section(title, reuses, nb=3, more=None, class='col-xs-12 col-sm-6 col-md-4') %}
{% if reuses %}
<!-- Latest reuses -->
<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="section-title">{{ title }}</h3>
            </div>
        </div>
        <div class="row">
            {% for reuse in reuses[:nb] %}
            <div class="{{ class }}">
                {% include theme('reuse/card.html') %}
            </div>
            {% endfor %}
        </div>
        {% if more %}
        <div class="row">
            <p class="col-xs-12 text-center">
                <a href="{{ more }}" class="btn btn-link">
                    <span class="fa fa-fw fa-list" ></span>
                    {{ _('See more') }}
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</section>
<!-- /Latest reuse -->
{% endif %}
{% endmacro %}
